.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.textField {
  border-radius: 5px;
  margin-left: 5%;
  background-color: rgb(196, 194, 194);
}
.label:hover {
  cursor: pointer;
}

.submitButton {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
